* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.7px;
}

.notes{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7f5539;
}



/* ----------------------- TOP BAR ----------------------- */

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #7f5539;
}

.top__toggle-side{
    position: absolute;
    top: calc(15px / 2);
    left: calc(200px + 15px);
    width: 25px;
    height: 25px;

    background-color: #3E3629;
}

.top__current-canvas{
    position: absolute;
    transform: translate(0 ,-50%);
    top: 50%;
    left: calc(200px + 60px);
}






/* ----------------------- SIDE PANEL ----------------------- */


.side-panel{
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: calc(100% - 40px);
    background-color: #7f5539;
}


/* ----- side profile ----- */
.side__profile{
    position: absolute;
    top: 3%;
    left: 10%;
    width: 80%;
    height: 60px;
    border-radius: 5px;

    background-color: #9c6644;
}


/* ----- side search ----- */
.side__search{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    border-radius: 5px;
    
}


/* ----- side main canvas ----- */
.side__main-canvas{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 20px;
    border-radius: 5px;

    background-color: #3E3629;
}


/* ----- side canvas ----- */
.side__canvas{
    position: absolute;
    top: 212px;
    left: 5%;
    width: 90%;
    /* height: 100px; */
    padding: 0;
    border-radius: 5px;
    overflow-y: hidden;

    background-color: #9c6644;
}

.canvas__add{
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
    height: 20px;
    border-radius: 5px;

    color: #ede0d4;
    background-color: #7f5539;
}



.side__canvas-list{
    position: absolute;
    padding-top: 8px;
    top: 50px;
    left: 5%;
    width: 90%;
    height: 0;
    border-radius: 5px;
    overflow-y: hidden;
    
    background-color: #594B38;
    /* transition: .3s height ease-in-out; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.side__canvas-list::-webkit-scrollbar{
    display: none;
}


.side__canvas-item{
    margin-left: 5%;
    width: 90%;
    height: 20px;
    
    border-radius: 5px;

    color: #ede0d4;
    background-color: #3E3629;
}
.side__canvas-item:hover{
    background-color: #9c6644;
}
.side__canvas-item--selected{
    color: #3E3629;
    background-color: #ede0d4;
}



/* ----- side favourites ----- */
.side__favourites{
    position: absolute;
    top: 470px;
    left: 5%;
    width: 90%;
    height: 100px;
    padding: 0;
    border-radius: 5px;
    overflow-y: hidden;

    background-color: #9c6644;
}


/* ----- side recents ----- */
.side__recents{
    position: absolute;
    top: 600px;
    left: 5%;
    width: 90%;
    height: 100px;
    padding: 0;
    border-radius: 5px;
    overflow-y: hidden;

    background-color: #9c6644;
}



/* ----- side line break ----- */

.side__line-break{
    position: absolute;
    top: 730px;
    left: 5%;
    width: 90%;
    height: 2px;
    border: none;
    border-radius: 2px;

    background-color: #ddb892;
    /* border-top: 2px solid #ddb892; */
}







/* ----------------------- ADD CARD ----------------------- */


.card__add{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 250px;
    width: 40px;
    height: 40px;
    z-index: 3;
    
    background-color: #7f5539;
    border: 2px solid #444444;
    border-radius: 4px;
    /* box-shadow: 0px 2px 10px 0px; */
}
.card__add:hover{
    background-color: #9c6644;
}



/* ----------------------- CANVAS PREVIEW ----------------------- */

.canvas__preview{
    position: absolute;
    top: 40px;
    left: 200px;
    width: calc(100% - 215px);
    height: calc(100% - 55px);
    border-radius: 10px;
    
    overflow: hidden;
    background-color: #ddb892;
}

.canvas__card-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* z-index: 1; */

    /* background-color: red;  */
}

.canvas__card-item{
    position: absolute;
    transform: translate(-50%, -50%);
    /* top: 583px; */
    left: 200px;
    width: 200px;
    height: 150px;
    border: 8px solid #7f5539;
    border-radius: 20px;

    /* transition: border .1s ease-in-out, background-color .05s ease-in-out; */
    background-color: #b08968;
    cursor: pointer;
    
}
.card__border-highlight{
    position: inherit;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 2px solid #ede0d4;
    /* transition: border .1s ease-in-out; */
    border-radius: 23px;
}
.canvas__card-item:hover{
    border: 8px solid #ede0d4;
}
.canvas__card-item:hover > .card__border-highlight{
    border: 2px solid #7f5539;
}
.canvas__card-item--selected{
    background-color: #ede0d4;
    border: 8px solid #7f5539;
}


.card__small-title, 
.card__small-body{
    position: inherit;
    transform: translate(-50%, 0);
    left: 50%;
    width: 80%;
    
    pointer-events: none;
    text-align: center;
}
.card__small-title{
    top: 7%;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
}
.card__small-body{
    top: 47%;
    height: 38px;
    overflow: hidden;
}
.card__small-updated{
    position: inherit;
    bottom: 0;
    left: 5%;

    font-size: 13px;
    pointer-events: none;
}







.card__preview-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    pointer-events: none;
}

.canvas__card-preview{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 70%;
    width: 300px;
    height: 400px;
    border: 8px solid #7f5539;
    border-radius: 20px;
    z-index: 2;
    pointer-events: all;
    
    background-color: #b08968;
}


.card__title,
.card__body{
    position: inherit;
    border: none;
    outline: none;
    width: 90%;
    transform: translate(-50%, 0);
}
.card__title{
    top: 4%;
    left: 50%;
    border-radius: 5px;

    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    color: #000;
    background-color: #ede0d4;
}
.card__body{
    top: 15%;
    left: 50%;
    height: 300px;
    border-radius: 10px;
    
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    resize: none;
    /* overflow-y: hidden; */

    color: #ede0d4;
    background-color: #9c6644;
}

.card__body-button{
    cursor: pointer;
    pointer-events: all;
    /* background-color: red; */
}